<h1>$squad.getName() heroes:</h1>

<ul>
#foreach ($hero in $squad.getHeroes())

$hero.getName() $hero.getCreatedAt()
<h2>$hero.getAge()</h2>
<h2>$hero.getSpower()</h2>
<h2>$hero.getWeakness()</h2>
<br>
#end
</ul>


<a href="/squads/$squad.getId()/heroes/new">ADD a NeW Hero</a>
<a href="/squad">ALL SQUADS</a>
