#if ($heroes)

<h1>$heroes.getName()</h1>
<h4>Age: $heroes.getAge()</h4>
<h4>Super Power: $heroes.getSuperpower()</h4>
<h4>Weakness: $heroes.getWeakness()</h4>

#end

<a href="/squads">All Squads</a>
<br>
<a href="/heroes">All Heroes</a>
