#if ($squad)
  <h1>$squad.getName()</h1>

  #if ($squad.getHeroes())
    <h2>Members</h2>
    <ul>
      #foreach ($hero in $squad.getHeroes())
        <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
      #end
    </ul>
  #else
    <h3>No Heroes!</h3>
#end
#end
<a href="/squads/$squad.getId()/heroes/new">Add a new Hero</a>
<br>
<a href="/squads">All Squads</a>
