<div class="success">
<div class="success-head">
<h1>Success!</h1>
</div>
<h3>Your hero has been saved.</h3>

<div class="links">
<a href="/heroes">View Heroes</a>
</div>
<div class="links">
<a href="/squads">View squads</a>
</div>
</div>
